.animated__multi-currencies_air {
  height: 182px;
  width: 366px;
  position: absolute;
  background-size: cover;
  background-image: url(../../../images/multi-currencies-components/multi-currencies-air.svg)
}
