.animated__multi-currencies_ellipse-3_1 {
  width: 105px;
  height: 105px;
  position: absolute;
  top: 0;
  right: 138px;
  z-index: 1;
  background-size: cover;
  background-image: url(../../../images/multi-currencies-components/multi-currencies-ellipse-3_1.svg)
}
